@import "../variables/variables";

//deals

.mainDealArrow {
    // overflow-x: scroll;
    min-height: 400px;
    margin-left: -24px;
    margin-right: -24px;
    .bx-pager {
        display: flex;
        align-items: center;
        height: 50px;
        border-left: 1px solid #dfe1e6;
        width: 1700px;
    }
    .bx-pager .bx-pager-item {
        display: flex;
        align-items: center;
        height: 100%;
        flex: 0 25%;
        border-top: 1px solid #dfe1e6;
        border-bottom: 1px solid #dfe1e6;
    }
    .bx-pager .bx-pager-item .bx-pager-link {
        text-decoration: none;
        color: #222;
        font-size: 13px;
        flex: 1;
        padding-left: 16px;
        text-align: center;
    }
    .bx-pager .bx-pager-item .arrow {
        border: solid #dfe1e6;
        display: inline-block;
        padding: 13px;
        border-width: 0 1px 1px 0;
        transform: translateY(15.5px) rotate(-45deg) skew(-15deg, -15deg)
            translateX(18px);
        background-color: #fff;
    }
    // .bx-pager .bx-pager-item.active {
    //     // background-color: #d68a3a;
    // }
    // .bx-pager .bx-pager-item.active .bx-pager-link {
    //     // color: white;
    // }
    // .bx-pager .bx-pager-item.active .arrow {
    //     // background-color: #d68a3a;
    // }
}

.react-trello-board {
    background-color: #fff !important;

    section {
        margin: 0px !important;
        background: #fff !important;
        padding: 0px !important;
        width: 300px !important;
        header:nth-child(1) {
            display: block;
            padding: 0;
        }

        div.sc-jqUWZQ {
            width: 300px !important;
            padding-right: 5px;
            padding-left: 5px;
        }

        article {
            border-bottom: none;
            max-width: 300px !important;
            padding: 0;
            // background-color: none;

            header {
                display: initial;
                span:nth-child(2) {
                    display: none;
                }
            }
        }
        .smooth-dnd-container {
            min-height: 70vh;
        }
    }
}

.item-deals-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;

    z-index: 1;
    height: 50px;

    .active .content {
        color: #ffffff;
    }

    .active .arrow {
        background: #d68a3a;
    }

    .content {
        color: #000000;
        position: absolute;
        z-index: 2;
        margin-left: 20px;
        margin-bottom: 3px;
        .total-dollar {
            font-size: 12px;
            font-weight: 300;
        }
    }

    .arrow {
        width: 100%;
        height: 50%;
        background: #ffffff;
    }

    .arrow.top {
        transform: skew(32deg, 0deg);
        border-right: 1px solid #d8d3d3;
        border-top: 1px solid #d8d3d3;
    }

    .arrow.bottom {
        transform: skew(-32deg, 0deg);
        border-right: 1px solid #d8d3d3;
        border-bottom: 1px solid #d8d3d3;
    }

    .add-deals {
        position: absolute;
        right: 0;
        margin-right: 10px;
        margin-bottom: 3px;
        svg {
            font-size: 18px;
            visibility: hidden;
        }
    }
}
.item-deals-header:hover {
    .add-deals {
        svg {
            visibility: visible;
        }
    }
}
$base: 15px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-steps {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    min-width: 480px;
    padding: 0 40px;
}

.breadcrumb {
    display: flex;
    border-radius: 6px;
    overflow: hidden;
    margin: auto;
    text-align: center;
    top: 50%;
    width: 100%;
    height: $base * 1.5;
    transform: translateY(-50%);
    // box-shadow: 0 1px 1px rgba(0, 0, 0, 1), 0 4px 14px rgba(0, 0, 0, 0.7);
    z-index: 1;
    background-color: rgb(244, 245, 247);
    font-size: 14px;
}

.breadcrumb a {
    position: relative;
    display: flex;
    flex-grow: 1;
    text-decoration: none;
    margin: auto;
    height: 100%;
    padding-left: $base;
    padding-right: 0;
    color: #666;
}

.breadcrumb a:first-child {
    padding-left: $base / 2.5;
}

.breadcrumb a:last-child {
    padding-right: $base / 2.5;
}

.breadcrumb a:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: $base * 1.5;
    height: $base * 1.5;
    top: 0;
    right: $base / 1.35 * -1;
    background-color: rgb(244, 245, 247);
    border-top-right-radius: 5px;
    transform: scale(0.707) rotate(45deg);
    box-shadow: 1px -1px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.breadcrumb a:last-child:after {
    content: none;
}

.breadcrumb__inner {
    display: flex;
    flex-direction: column;
    margin: auto;
    z-index: 2;
}

.breadcrumb__title {
    font-weight: bold;
}

.breadcrumb a.none:hover,
.breadcrumb a.none:hover:after {
    background-color: #b8b7b7;
}

.breadcrumb a.active {
    background: #1677ff;
    color: white;
}

.breadcrumb a.active:after {
    background: #1677ff;
    color: white;
}

.breadcrumb a.done {
    background: #09b749;
    color: white;
}

.breadcrumb a.done:after {
    background: #09b749;
    color: white;
}

.card-left-deal-details {
    .ant-collapse {
        background: white;
    }
    .ant-collapse-item {
        margin-bottom: 0px !important;
        box-shadow: inset 0 1px #7a869a2b, 0 1px 2px #7a869a7a;
    }
}

.thumb-name-xs {
    height: 24px;
    font-size: 12px;
    padding: 1px;
    line-height: 22px;
    font-weight: 700;
    width: 24px;
    border-radius: 24px;
    background: #c0ca33;
    color: white;
    text-align: center;
}
.button-success-outlined {
    background: white;
    color: #09b749;
    border: 1px solid #09b749;
}

.button-success-outlined:hover {
    background: #09b749 !important;
    color: white;
    border: 1px solid #09b749;
}
.button-danger-outlined {
    background: white !important;
    color: #ff7875;
    border: 1px solid #ff7875;
}

.button-danger-outlined:hover {
    background: #ff7875 !important;
    color: white;
    border: 1px solid #ff7875;
}

.button-success-solid {
    background: #09b749;
    color: white;
    border: 1px solid #09b749;
}

.button-success-solid:hover {
    background: white !important;
    color: #09b749 !important;
    border: 1px solid #09b749;
}

.button-danger-solid {
    background: #ff7875;
    color: white;
    border: 1px solid #ff7875;
}

.button-danger-solid:hover {
    background: white !important;
    color: #ff7875 !important;
    border: 1px solid #ff7875;
}

.success-bg-modal {
    .modal-header {
        background: #09b749;
    }
}
.danger-bg-modal {
    .modal-header {
        background: #ff7875;
    }
}

.delete-post-icon {
    position: absolute;
    right: 0;
    margin-right: 12px;
    top: 7px;
    font-size: 17px;
    cursor: pointer;
}

// // 1000px
// ///////////////////////
// @media all and (max-width: 1000px) {
//     .breadcrumb {
//         font-size: 12px;
//     }
// }

// // 710px
// ///////////////////////
// @media all and (max-width: 710px) {
//     .breadcrumb__desc {
//         display: none;
//     }

//     .breadcrumb {
//         height: $base;
//     }

//     .breadcrumb a {
//         padding-left: $base / 1.5;
//     }

//     .breadcrumb a:after {
//         content: "";
//         width: $base * 1;
//         height: $base * 1;
//         right: $base / 2 * -1;
//         transform: scale(0.707) rotate(45deg);
//     }
// }
.ant-popover.ant-popconfirm {
    z-index: 100000;
}
