.mainDealArrow {
  min-height: 400px;
  margin-left: -24px;
  margin-right: -24px;
}
.mainDealArrow .bx-pager {
  display: flex;
  align-items: center;
  height: 50px;
  border-left: 1px solid #dfe1e6;
  width: 1700px;
}
.mainDealArrow .bx-pager .bx-pager-item {
  display: flex;
  align-items: center;
  height: 100%;
  flex: 0 25%;
  border-top: 1px solid #dfe1e6;
  border-bottom: 1px solid #dfe1e6;
}
.mainDealArrow .bx-pager .bx-pager-item .bx-pager-link {
  text-decoration: none;
  color: #222;
  font-size: 13px;
  flex: 1;
  padding-left: 16px;
  text-align: center;
}
.mainDealArrow .bx-pager .bx-pager-item .arrow {
  border: solid #dfe1e6;
  display: inline-block;
  padding: 13px;
  border-width: 0 1px 1px 0;
  transform: translateY(15.5px) rotate(-45deg) skew(-15deg, -15deg) translateX(18px);
  background-color: #fff;
}

.react-trello-board {
  background-color: #fff !important;
}
.react-trello-board section {
  margin: 0px !important;
  background: #fff !important;
  padding: 0px !important;
  width: 300px !important;
}
.react-trello-board section header:nth-child(1) {
  display: block;
  padding: 0;
}
.react-trello-board section div.sc-jqUWZQ {
  width: 300px !important;
  padding-right: 5px;
  padding-left: 5px;
}
.react-trello-board section article {
  border-bottom: none;
  max-width: 300px !important;
  padding: 0;
}
.react-trello-board section article header {
  display: initial;
}
.react-trello-board section article header span:nth-child(2) {
  display: none;
}
.react-trello-board section .smooth-dnd-container {
  min-height: 70vh;
}

.item-deals-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  z-index: 1;
  height: 50px;
}
.item-deals-header .active .content {
  color: #ffffff;
}
.item-deals-header .active .arrow {
  background: #d68a3a;
}
.item-deals-header .content {
  color: #000000;
  position: absolute;
  z-index: 2;
  margin-left: 20px;
  margin-bottom: 3px;
}
.item-deals-header .content .total-dollar {
  font-size: 12px;
  font-weight: 300;
}
.item-deals-header .arrow {
  width: 100%;
  height: 50%;
  background: #ffffff;
}
.item-deals-header .arrow.top {
  transform: skew(32deg, 0deg);
  border-right: 1px solid #d8d3d3;
  border-top: 1px solid #d8d3d3;
}
.item-deals-header .arrow.bottom {
  transform: skew(-32deg, 0deg);
  border-right: 1px solid #d8d3d3;
  border-bottom: 1px solid #d8d3d3;
}
.item-deals-header .add-deals {
  position: absolute;
  right: 0;
  margin-right: 10px;
  margin-bottom: 3px;
}
.item-deals-header .add-deals svg {
  font-size: 18px;
  visibility: hidden;
}

.item-deals-header:hover .add-deals svg {
  visibility: visible;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-steps {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-width: 480px;
  padding: 0 40px;
}

.breadcrumb {
  display: flex;
  border-radius: 6px;
  overflow: hidden;
  margin: auto;
  text-align: center;
  top: 50%;
  width: 100%;
  height: 22.5px;
  transform: translateY(-50%);
  z-index: 1;
  background-color: rgb(244, 245, 247);
  font-size: 14px;
}

.breadcrumb a {
  position: relative;
  display: flex;
  flex-grow: 1;
  text-decoration: none;
  margin: auto;
  height: 100%;
  padding-left: 15px;
  padding-right: 0;
  color: #666;
}

.breadcrumb a:first-child {
  padding-left: 6px;
}

.breadcrumb a:last-child {
  padding-right: 6px;
}

.breadcrumb a:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 22.5px;
  height: 22.5px;
  top: 0;
  right: -11.1111111111px;
  background-color: rgb(244, 245, 247);
  border-top-right-radius: 5px;
  transform: scale(0.707) rotate(45deg);
  box-shadow: 1px -1px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.breadcrumb a:last-child:after {
  content: none;
}

.breadcrumb__inner {
  display: flex;
  flex-direction: column;
  margin: auto;
  z-index: 2;
}

.breadcrumb__title {
  font-weight: bold;
}

.breadcrumb a.none:hover,
.breadcrumb a.none:hover:after {
  background-color: #b8b7b7;
}

.breadcrumb a.active {
  background: #1677ff;
  color: white;
}

.breadcrumb a.active:after {
  background: #1677ff;
  color: white;
}

.breadcrumb a.done {
  background: #09b749;
  color: white;
}

.breadcrumb a.done:after {
  background: #09b749;
  color: white;
}

.card-left-deal-details .ant-collapse {
  background: white;
}
.card-left-deal-details .ant-collapse-item {
  margin-bottom: 0px !important;
  box-shadow: inset 0 1px rgba(122, 134, 154, 0.168627451), 0 1px 2px rgba(122, 134, 154, 0.4784313725);
}

.thumb-name-xs {
  height: 24px;
  font-size: 12px;
  padding: 1px;
  line-height: 22px;
  font-weight: 700;
  width: 24px;
  border-radius: 24px;
  background: #c0ca33;
  color: white;
  text-align: center;
}

.button-success-outlined {
  background: white;
  color: #09b749;
  border: 1px solid #09b749;
}

.button-success-outlined:hover {
  background: #09b749 !important;
  color: white;
  border: 1px solid #09b749;
}

.button-danger-outlined {
  background: white !important;
  color: #ff7875;
  border: 1px solid #ff7875;
}

.button-danger-outlined:hover {
  background: #ff7875 !important;
  color: white;
  border: 1px solid #ff7875;
}

.button-success-solid {
  background: #09b749;
  color: white;
  border: 1px solid #09b749;
}

.button-success-solid:hover {
  background: white !important;
  color: #09b749 !important;
  border: 1px solid #09b749;
}

.button-danger-solid {
  background: #ff7875;
  color: white;
  border: 1px solid #ff7875;
}

.button-danger-solid:hover {
  background: white !important;
  color: #ff7875 !important;
  border: 1px solid #ff7875;
}

.success-bg-modal .modal-header {
  background: #09b749;
}

.danger-bg-modal .modal-header {
  background: #ff7875;
}

.delete-post-icon {
  position: absolute;
  right: 0;
  margin-right: 12px;
  top: 7px;
  font-size: 17px;
  cursor: pointer;
}

.ant-popover.ant-popconfirm {
  z-index: 100000;
}

.wall-active-button:focus {
  background-color: rgba(0, 0, 0, 0.06);
}

.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  animation-delay: 1.25s, 1.25s, 1.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}
@keyframes bang {
  to {
    box-shadow: -242px 41.3333333333px hsl(87, 100%, 50%), -173px -26.6666666667px hsl(163, 100%, 50%), 207px -22.6666666667px hsl(256, 100%, 50%), 80px -108.6666666667px hsl(242, 100%, 50%), 255px -111.6666666667px hsl(141, 100%, 50%), 177px -244.6666666667px hsl(318, 100%, 50%), 240px -65.6666666667px hsl(20, 100%, 50%), -198px -117.6666666667px hsl(334, 100%, 50%), 47px -55.6666666667px hsl(296, 100%, 50%), 261px -185.6666666667px hsl(24, 100%, 50%), -371px -12.6666666667px hsl(295, 100%, 50%), -264px -238.6666666667px hsl(200, 100%, 50%), -253px 1.3333333333px hsl(159, 100%, 50%), 331px -130.6666666667px hsl(48, 100%, 50%), 74px -337.6666666667px hsl(11, 100%, 50%), -245px 18.3333333333px hsl(311, 100%, 50%), -113px -355.6666666667px hsl(271, 100%, 50%), 103px -361.6666666667px hsl(328, 100%, 50%), 185px -393.6666666667px hsl(39, 100%, 50%), -288px -9.6666666667px hsl(196, 100%, 50%), -230px 52.3333333333px hsl(144, 100%, 50%), -188px -252.6666666667px hsl(285, 100%, 50%), -313px -242.6666666667px hsl(7, 100%, 50%), 38px -114.6666666667px hsl(321, 100%, 50%), 71px -114.6666666667px hsl(347, 100%, 50%), -13px -254.6666666667px hsl(253, 100%, 50%), 256px -186.6666666667px hsl(66, 100%, 50%), -63px -61.6666666667px hsl(250, 100%, 50%), -348px 81.3333333333px hsl(278, 100%, 50%), 7px 83.3333333333px hsl(146, 100%, 50%), -285px 1.3333333333px hsl(145, 100%, 50%), 328px -42.6666666667px hsl(321, 100%, 50%), 29px -165.6666666667px hsl(85, 100%, 50%), -306px -245.6666666667px hsl(194, 100%, 50%), 127px -308.6666666667px hsl(245, 100%, 50%), 339px -166.6666666667px hsl(47, 100%, 50%), -88px -39.6666666667px hsl(47, 100%, 50%), -280px -50.6666666667px hsl(193, 100%, 50%), -142px -405.6666666667px hsl(159, 100%, 50%), -50px -122.6666666667px hsl(71, 100%, 50%), 124px -355.6666666667px hsl(47, 100%, 50%), -129px -276.6666666667px hsl(280, 100%, 50%), -245px -276.6666666667px hsl(256, 100%, 50%), 328px -415.6666666667px hsl(54, 100%, 50%), 197px 68.3333333333px hsl(230, 100%, 50%), -44px -25.6666666667px hsl(237, 100%, 50%), -323px -210.6666666667px hsl(306, 100%, 50%), -136px -218.6666666667px hsl(151, 100%, 50%), 263px -141.6666666667px hsl(51, 100%, 50%), 391px -61.6666666667px hsl(229, 100%, 50%), 274px -301.6666666667px hsl(11, 100%, 50%), 31px -36.6666666667px hsl(92, 100%, 50%), 103px -204.6666666667px hsl(193, 100%, 50%), -230px -197.6666666667px hsl(318, 100%, 50%), 240px 29.3333333333px hsl(277, 100%, 50%), 92px -238.6666666667px hsl(132, 100%, 50%), 124px -142.6666666667px hsl(115, 100%, 50%), -43px 39.3333333333px hsl(68, 100%, 50%), -260px 10.3333333333px hsl(57, 100%, 50%), -152px -10.6666666667px hsl(25, 100%, 50%), 99px -185.6666666667px hsl(45, 100%, 50%), -71px -351.6666666667px hsl(357, 100%, 50%), -140px -103.6666666667px hsl(161, 100%, 50%), 158px -304.6666666667px hsl(290, 100%, 50%), -200px -270.6666666667px hsl(148, 100%, 50%), -379px -15.6666666667px hsl(253, 100%, 50%), -208px -91.6666666667px hsl(220, 100%, 50%), -100px 62.3333333333px hsl(144, 100%, 50%), 203px -301.6666666667px hsl(250, 100%, 50%), -145px -179.6666666667px hsl(50, 100%, 50%), -153px -291.6666666667px hsl(226, 100%, 50%), -39px -108.6666666667px hsl(286, 100%, 50%), 385px -385.6666666667px hsl(105, 100%, 50%), -70px -385.6666666667px hsl(206, 100%, 50%), -16px -61.6666666667px hsl(69, 100%, 50%), -134px -400.6666666667px hsl(116, 100%, 50%), -169px -183.6666666667px hsl(63, 100%, 50%), -96px -214.6666666667px hsl(225, 100%, 50%), 312px 31.3333333333px hsl(27, 100%, 50%), -327px -130.6666666667px hsl(236, 100%, 50%), 12px -190.6666666667px hsl(266, 100%, 50%), 145px 28.3333333333px hsl(38, 100%, 50%), -70px -66.6666666667px hsl(198, 100%, 50%), -168px -124.6666666667px hsl(78, 100%, 50%), -254px -173.6666666667px hsl(148, 100%, 50%), 187px -184.6666666667px hsl(98, 100%, 50%), 193px -70.6666666667px hsl(160, 100%, 50%), -337px -195.6666666667px hsl(102, 100%, 50%), -247px -218.6666666667px hsl(90, 100%, 50%), -161px -160.6666666667px hsl(147, 100%, 50%), -51px -161.6666666667px hsl(238, 100%, 50%), 386px -56.6666666667px hsl(335, 100%, 50%), 110px -254.6666666667px hsl(48, 100%, 50%), -16px -372.6666666667px hsl(345, 100%, 50%), 324px -312.6666666667px hsl(340, 100%, 50%), 135px -249.6666666667px hsl(255, 100%, 50%), 372px -137.6666666667px hsl(252, 100%, 50%), 287px 68.3333333333px hsl(143, 100%, 50%), -214px -396.6666666667px hsl(280, 100%, 50%), 62px -153.6666666667px hsl(109, 100%, 50%), 329px 50.3333333333px hsl(65, 100%, 50%), -195px -281.6666666667px hsl(56, 100%, 50%), -360px -361.6666666667px hsl(120, 100%, 50%), 169px -162.6666666667px hsl(283, 100%, 50%), -80px -128.6666666667px hsl(252, 100%, 50%), 20px 1.3333333333px hsl(244, 100%, 50%), 121px -194.6666666667px hsl(240, 100%, 50%), 46px 67.3333333333px hsl(123, 100%, 50%), 124px -156.6666666667px hsl(102, 100%, 50%), 385px 58.3333333333px hsl(97, 100%, 50%), -127px -290.6666666667px hsl(52, 100%, 50%), -196px -343.6666666667px hsl(179, 100%, 50%), -114px 67.3333333333px hsl(321, 100%, 50%), -328px 74.3333333333px hsl(123, 100%, 50%), -279px -3.6666666667px hsl(153, 100%, 50%), 281px -291.6666666667px hsl(57, 100%, 50%), 133px -346.6666666667px hsl(329, 100%, 50%), -104px -114.6666666667px hsl(76, 100%, 50%), -394px -358.6666666667px hsl(274, 100%, 50%), -92px -355.6666666667px hsl(304, 100%, 50%), 223px -367.6666666667px hsl(145, 100%, 50%), -98px -275.6666666667px hsl(261, 100%, 50%), -377px -140.6666666667px hsl(197, 100%, 50%), -359px -246.6666666667px hsl(111, 100%, 50%), -321px -86.6666666667px hsl(225, 100%, 50%), 253px -407.6666666667px hsl(102, 100%, 50%), -215px -57.6666666667px hsl(22, 100%, 50%), -95px -167.6666666667px hsl(53, 100%, 50%), -254px -288.6666666667px hsl(267, 100%, 50%), 360px -394.6666666667px hsl(322, 100%, 50%), -23px 17.3333333333px hsl(96, 100%, 50%), 394px -327.6666666667px hsl(175, 100%, 50%), -236px -393.6666666667px hsl(44, 100%, 50%), -102px -303.6666666667px hsl(239, 100%, 50%), -318px -101.6666666667px hsl(355, 100%, 50%), 119px -401.6666666667px hsl(301, 100%, 50%), -331px -211.6666666667px hsl(280, 100%, 50%), -253px 15.3333333333px hsl(329, 100%, 50%), 225px -118.6666666667px hsl(122, 100%, 50%), -92px -363.6666666667px hsl(243, 100%, 50%), 210px 31.3333333333px hsl(142, 100%, 50%), -143px 79.3333333333px hsl(127, 100%, 50%), 274px 75.3333333333px hsl(39, 100%, 50%), 121px -32.6666666667px hsl(33, 100%, 50%), -23px 60.3333333333px hsl(159, 100%, 50%), -366px -348.6666666667px hsl(277, 100%, 50%), -70px -205.6666666667px hsl(262, 100%, 50%), -64px -289.6666666667px hsl(183, 100%, 50%), 173px -407.6666666667px hsl(349, 100%, 50%), 65px 12.3333333333px hsl(289, 100%, 50%), 82px -15.6666666667px hsl(340, 100%, 50%), 195px -56.6666666667px hsl(221, 100%, 50%), -93px -260.6666666667px hsl(183, 100%, 50%), -282px -266.6666666667px hsl(237, 100%, 50%), 88px 26.3333333333px hsl(126, 100%, 50%), -389px -359.6666666667px hsl(85, 100%, 50%), -77px -360.6666666667px hsl(177, 100%, 50%), -331px -408.6666666667px hsl(15, 100%, 50%), -391px -126.6666666667px hsl(178, 100%, 50%), 233px -252.6666666667px hsl(141, 100%, 50%), 341px -314.6666666667px hsl(119, 100%, 50%), -166px -323.6666666667px hsl(31, 100%, 50%), 331px -256.6666666667px hsl(259, 100%, 50%), 83px -261.6666666667px hsl(95, 100%, 50%), -166px -45.6666666667px hsl(94, 100%, 50%), 374px -201.6666666667px hsl(261, 100%, 50%), 341px 47.3333333333px hsl(221, 100%, 50%), -180px -140.6666666667px hsl(211, 100%, 50%), 130px -341.6666666667px hsl(12, 100%, 50%), -251px -181.6666666667px hsl(204, 100%, 50%), 22px 24.3333333333px hsl(102, 100%, 50%), 173px -318.6666666667px hsl(346, 100%, 50%), 364px -202.6666666667px hsl(339, 100%, 50%), 75px -0.6666666667px hsl(315, 100%, 50%), -288px -54.6666666667px hsl(96, 100%, 50%), -168px 67.3333333333px hsl(98, 100%, 50%), 284px -25.6666666667px hsl(102, 100%, 50%), 250px 77.3333333333px hsl(271, 100%, 50%), 302px -33.6666666667px hsl(216, 100%, 50%), 182px -395.6666666667px hsl(321, 100%, 50%), -145px -39.6666666667px hsl(168, 100%, 50%), -10px -184.6666666667px hsl(143, 100%, 50%), -295px -192.6666666667px hsl(182, 100%, 50%), -112px -237.6666666667px hsl(128, 100%, 50%), -208px -114.6666666667px hsl(141, 100%, 50%), -367px 6.3333333333px hsl(78, 100%, 50%), 13px -404.6666666667px hsl(27, 100%, 50%), 254px -110.6666666667px hsl(60, 100%, 50%), -162px -251.6666666667px hsl(269, 100%, 50%), -6px -168.6666666667px hsl(305, 100%, 50%), 399px -164.6666666667px hsl(120, 100%, 50%), -220px 75.3333333333px hsl(3, 100%, 50%), -296px 79.3333333333px hsl(44, 100%, 50%), 51px -64.6666666667px hsl(27, 100%, 50%), 391px -357.6666666667px hsl(212, 100%, 50%), 70px -124.6666666667px hsl(17, 100%, 50%), -317px 37.3333333333px hsl(8, 100%, 50%), 296px -253.6666666667px hsl(114, 100%, 50%), 140px -96.6666666667px hsl(135, 100%, 50%), -257px 62.3333333333px hsl(254, 100%, 50%), 322px -250.6666666667px hsl(70, 100%, 50%);
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}/*# sourceMappingURL=deals.css.map */