.mainDealArrow {
  min-height: 400px;
  margin-left: -24px;
  margin-right: -24px;
}
.mainDealArrow .bx-pager {
  display: flex;
  align-items: center;
  height: 50px;
  border-left: 1px solid #dfe1e6;
  width: 1700px;
}
.mainDealArrow .bx-pager .bx-pager-item {
  display: flex;
  align-items: center;
  height: 100%;
  flex: 0 25%;
  border-top: 1px solid #dfe1e6;
  border-bottom: 1px solid #dfe1e6;
}
.mainDealArrow .bx-pager .bx-pager-item .bx-pager-link {
  text-decoration: none;
  color: #222;
  font-size: 13px;
  flex: 1;
  padding-left: 16px;
  text-align: center;
}
.mainDealArrow .bx-pager .bx-pager-item .arrow {
  border: solid #dfe1e6;
  display: inline-block;
  padding: 13px;
  border-width: 0 1px 1px 0;
  transform: translateY(15.5px) rotate(-45deg) skew(-15deg, -15deg) translateX(18px);
  background-color: #fff;
}

.react-trello-board {
  background-color: #fff !important;
}
.react-trello-board section {
  margin: 0px !important;
  background: #fff !important;
  padding: 0px !important;
  width: 300px !important;
}
.react-trello-board section header:nth-child(1) {
  display: block;
  padding: 0;
}
.react-trello-board section div.sc-jqUWZQ {
  width: 300px !important;
  padding-right: 5px;
  padding-left: 5px;
}
.react-trello-board section article {
  border-bottom: none;
  max-width: 300px !important;
  padding: 0;
}
.react-trello-board section article header {
  display: initial;
}
.react-trello-board section article header span:nth-child(2) {
  display: none;
}
.react-trello-board section .smooth-dnd-container {
  min-height: 70vh;
}

.item-deals-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  z-index: 1;
  height: 50px;
}
.item-deals-header .active .content {
  color: #ffffff;
}
.item-deals-header .active .arrow {
  background: #d68a3a;
}
.item-deals-header .content {
  color: #000000;
  position: absolute;
  z-index: 2;
  margin-left: 20px;
  margin-bottom: 3px;
}
.item-deals-header .content .total-dollar {
  font-size: 12px;
  font-weight: 300;
}
.item-deals-header .arrow {
  width: 100%;
  height: 50%;
  background: #ffffff;
}
.item-deals-header .arrow.top {
  transform: skew(32deg, 0deg);
  border-right: 1px solid #d8d3d3;
  border-top: 1px solid #d8d3d3;
}
.item-deals-header .arrow.bottom {
  transform: skew(-32deg, 0deg);
  border-right: 1px solid #d8d3d3;
  border-bottom: 1px solid #d8d3d3;
}
.item-deals-header .add-deals {
  position: absolute;
  right: 0;
  margin-right: 10px;
  margin-bottom: 3px;
}
.item-deals-header .add-deals svg {
  font-size: 18px;
  visibility: hidden;
}

.item-deals-header:hover .add-deals svg {
  visibility: visible;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-steps {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-width: 480px;
  padding: 0 40px;
}

.breadcrumb {
  display: flex;
  border-radius: 6px;
  overflow: hidden;
  margin: auto;
  text-align: center;
  top: 50%;
  width: 100%;
  height: 22.5px;
  transform: translateY(-50%);
  z-index: 1;
  background-color: rgb(244, 245, 247);
  font-size: 14px;
}

.breadcrumb a {
  position: relative;
  display: flex;
  flex-grow: 1;
  text-decoration: none;
  margin: auto;
  height: 100%;
  padding-left: 15px;
  padding-right: 0;
  color: #666;
}

.breadcrumb a:first-child {
  padding-left: 6px;
}

.breadcrumb a:last-child {
  padding-right: 6px;
}

.breadcrumb a:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 22.5px;
  height: 22.5px;
  top: 0;
  right: -11.1111111111px;
  background-color: rgb(244, 245, 247);
  border-top-right-radius: 5px;
  transform: scale(0.707) rotate(45deg);
  box-shadow: 1px -1px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.breadcrumb a:last-child:after {
  content: none;
}

.breadcrumb__inner {
  display: flex;
  flex-direction: column;
  margin: auto;
  z-index: 2;
}

.breadcrumb__title {
  font-weight: bold;
}

.breadcrumb a.none:hover,
.breadcrumb a.none:hover:after {
  background-color: #b8b7b7;
}

.breadcrumb a.active {
  background: #1677ff;
  color: white;
}

.breadcrumb a.active:after {
  background: #1677ff;
  color: white;
}

.breadcrumb a.done {
  background: #09b749;
  color: white;
}

.breadcrumb a.done:after {
  background: #09b749;
  color: white;
}

.card-left-deal-details .ant-collapse {
  background: white;
}
.card-left-deal-details .ant-collapse-item {
  margin-bottom: 0px !important;
  box-shadow: inset 0 1px rgba(122, 134, 154, 0.168627451), 0 1px 2px rgba(122, 134, 154, 0.4784313725);
}

.thumb-name-xs {
  height: 24px;
  font-size: 12px;
  padding: 1px;
  line-height: 22px;
  font-weight: 700;
  width: 24px;
  border-radius: 24px;
  background: #c0ca33;
  color: white;
  text-align: center;
}

.button-success-outlined {
  background: white;
  color: #09b749;
  border: 1px solid #09b749;
}

.button-success-outlined:hover {
  background: #09b749 !important;
  color: white;
  border: 1px solid #09b749;
}

.button-danger-outlined {
  background: white !important;
  color: #ff7875;
  border: 1px solid #ff7875;
}

.button-danger-outlined:hover {
  background: #ff7875 !important;
  color: white;
  border: 1px solid #ff7875;
}

.button-success-solid {
  background: #09b749;
  color: white;
  border: 1px solid #09b749;
}

.button-success-solid:hover {
  background: white !important;
  color: #09b749 !important;
  border: 1px solid #09b749;
}

.button-danger-solid {
  background: #ff7875;
  color: white;
  border: 1px solid #ff7875;
}

.button-danger-solid:hover {
  background: white !important;
  color: #ff7875 !important;
  border: 1px solid #ff7875;
}

.success-bg-modal .modal-header {
  background: #09b749;
}

.danger-bg-modal .modal-header {
  background: #ff7875;
}

.delete-post-icon {
  position: absolute;
  right: 0;
  margin-right: 12px;
  top: 7px;
  font-size: 17px;
  cursor: pointer;
}

.ant-popover.ant-popconfirm {
  z-index: 100000;
}

.wall-active-button:focus {
  background-color: rgba(0, 0, 0, 0.06);
}

.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  animation-delay: 1.25s, 1.25s, 1.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}
@keyframes bang {
  to {
    box-shadow: -277px -58.6666666667px hsl(162, 100%, 50%), -64px -317.6666666667px hsl(169, 100%, 50%), 1px -238.6666666667px hsl(277, 100%, 50%), 13px -267.6666666667px hsl(241, 100%, 50%), 286px -138.6666666667px hsl(320, 100%, 50%), -147px -166.6666666667px hsl(80, 100%, 50%), 173px -241.6666666667px hsl(74, 100%, 50%), -315px -347.6666666667px hsl(174, 100%, 50%), -19px -409.6666666667px hsl(309, 100%, 50%), 241px 33.3333333333px hsl(311, 100%, 50%), 133px -133.6666666667px hsl(84, 100%, 50%), 334px 26.3333333333px hsl(311, 100%, 50%), -105px -355.6666666667px hsl(176, 100%, 50%), -309px -66.6666666667px hsl(228, 100%, 50%), 346px -63.6666666667px hsl(82, 100%, 50%), 98px -84.6666666667px hsl(157, 100%, 50%), -137px -69.6666666667px hsl(326, 100%, 50%), 163px -300.6666666667px hsl(133, 100%, 50%), -294px -55.6666666667px hsl(14, 100%, 50%), -280px 79.3333333333px hsl(187, 100%, 50%), 13px 8.3333333333px hsl(222, 100%, 50%), 43px -247.6666666667px hsl(242, 100%, 50%), -46px -248.6666666667px hsl(1, 100%, 50%), -224px -409.6666666667px hsl(111, 100%, 50%), 167px -170.6666666667px hsl(37, 100%, 50%), -217px -231.6666666667px hsl(30, 100%, 50%), -305px -40.6666666667px hsl(295, 100%, 50%), 381px -70.6666666667px hsl(350, 100%, 50%), 280px -234.6666666667px hsl(192, 100%, 50%), -383px -377.6666666667px hsl(153, 100%, 50%), -298px 31.3333333333px hsl(97, 100%, 50%), 277px -57.6666666667px hsl(345, 100%, 50%), -301px -50.6666666667px hsl(93, 100%, 50%), 237px -356.6666666667px hsl(204, 100%, 50%), 369px -45.6666666667px hsl(336, 100%, 50%), -162px -412.6666666667px hsl(36, 100%, 50%), 42px -341.6666666667px hsl(38, 100%, 50%), -314px 28.3333333333px hsl(208, 100%, 50%), 54px 57.3333333333px hsl(155, 100%, 50%), 212px 38.3333333333px hsl(120, 100%, 50%), -228px -84.6666666667px hsl(237, 100%, 50%), 236px -38.6666666667px hsl(35, 100%, 50%), -48px -186.6666666667px hsl(180, 100%, 50%), 142px -121.6666666667px hsl(133, 100%, 50%), 80px -169.6666666667px hsl(199, 100%, 50%), 272px -160.6666666667px hsl(128, 100%, 50%), -304px -155.6666666667px hsl(278, 100%, 50%), -199px -273.6666666667px hsl(197, 100%, 50%), 278px -248.6666666667px hsl(111, 100%, 50%), 330px -69.6666666667px hsl(122, 100%, 50%), -263px -82.6666666667px hsl(230, 100%, 50%), 267px -330.6666666667px hsl(349, 100%, 50%), 395px -261.6666666667px hsl(124, 100%, 50%), -195px -66.6666666667px hsl(264, 100%, 50%), 310px -72.6666666667px hsl(86, 100%, 50%), 238px -297.6666666667px hsl(60, 100%, 50%), 80px 75.3333333333px hsl(142, 100%, 50%), -352px -321.6666666667px hsl(20, 100%, 50%), 274px 58.3333333333px hsl(153, 100%, 50%), 137px -389.6666666667px hsl(304, 100%, 50%), 383px -136.6666666667px hsl(4, 100%, 50%), 91px -336.6666666667px hsl(258, 100%, 50%), -187px -62.6666666667px hsl(345, 100%, 50%), -349px -403.6666666667px hsl(247, 100%, 50%), 282px -324.6666666667px hsl(74, 100%, 50%), -335px -345.6666666667px hsl(133, 100%, 50%), -5px 27.3333333333px hsl(65, 100%, 50%), -97px -347.6666666667px hsl(258, 100%, 50%), -189px -292.6666666667px hsl(329, 100%, 50%), 154px -125.6666666667px hsl(126, 100%, 50%), -394px -364.6666666667px hsl(306, 100%, 50%), 26px -80.6666666667px hsl(232, 100%, 50%), -192px 76.3333333333px hsl(111, 100%, 50%), -390px -380.6666666667px hsl(132, 100%, 50%), -138px -255.6666666667px hsl(128, 100%, 50%), -228px -414.6666666667px hsl(29, 100%, 50%), 189px -344.6666666667px hsl(190, 100%, 50%), 90px -257.6666666667px hsl(209, 100%, 50%), -119px 38.3333333333px hsl(249, 100%, 50%), -17px -267.6666666667px hsl(293, 100%, 50%), 184px -18.6666666667px hsl(198, 100%, 50%), 21px -391.6666666667px hsl(12, 100%, 50%), -332px -336.6666666667px hsl(65, 100%, 50%), 138px -334.6666666667px hsl(332, 100%, 50%), -266px -276.6666666667px hsl(75, 100%, 50%), -81px -243.6666666667px hsl(124, 100%, 50%), -395px -99.6666666667px hsl(195, 100%, 50%), -395px -227.6666666667px hsl(191, 100%, 50%), 173px -296.6666666667px hsl(66, 100%, 50%), -177px -79.6666666667px hsl(350, 100%, 50%), 165px -319.6666666667px hsl(211, 100%, 50%), -347px -235.6666666667px hsl(197, 100%, 50%), -27px -13.6666666667px hsl(179, 100%, 50%), -37px 50.3333333333px hsl(40, 100%, 50%), -145px -39.6666666667px hsl(99, 100%, 50%), 277px -295.6666666667px hsl(25, 100%, 50%), 114px -398.6666666667px hsl(357, 100%, 50%), 106px -145.6666666667px hsl(60, 100%, 50%), -49px 57.3333333333px hsl(192, 100%, 50%), -231px -378.6666666667px hsl(306, 100%, 50%), 312px -30.6666666667px hsl(78, 100%, 50%), -68px -413.6666666667px hsl(184, 100%, 50%), 125px -234.6666666667px hsl(355, 100%, 50%), 107px -118.6666666667px hsl(25, 100%, 50%), -69px -197.6666666667px hsl(359, 100%, 50%), 179px 54.3333333333px hsl(359, 100%, 50%), -18px -231.6666666667px hsl(307, 100%, 50%), -353px -1.6666666667px hsl(141, 100%, 50%), -362px -192.6666666667px hsl(90, 100%, 50%), -145px -87.6666666667px hsl(292, 100%, 50%), 320px -212.6666666667px hsl(269, 100%, 50%), -332px -66.6666666667px hsl(29, 100%, 50%), -301px 67.3333333333px hsl(56, 100%, 50%), -14px -278.6666666667px hsl(152, 100%, 50%), 126px -53.6666666667px hsl(133, 100%, 50%), 229px -129.6666666667px hsl(144, 100%, 50%), 258px -253.6666666667px hsl(198, 100%, 50%), 383px -148.6666666667px hsl(238, 100%, 50%), 123px 76.3333333333px hsl(143, 100%, 50%), 167px -364.6666666667px hsl(185, 100%, 50%), 26px 24.3333333333px hsl(172, 100%, 50%), -156px 64.3333333333px hsl(176, 100%, 50%), 309px -401.6666666667px hsl(295, 100%, 50%), 165px -106.6666666667px hsl(317, 100%, 50%), 151px -201.6666666667px hsl(124, 100%, 50%), -254px -153.6666666667px hsl(251, 100%, 50%), -155px -117.6666666667px hsl(164, 100%, 50%), -234px -21.6666666667px hsl(81, 100%, 50%), 154px -368.6666666667px hsl(142, 100%, 50%), -114px 10.3333333333px hsl(227, 100%, 50%), 209px -71.6666666667px hsl(78, 100%, 50%), -138px -46.6666666667px hsl(299, 100%, 50%), -264px 33.3333333333px hsl(347, 100%, 50%), -255px 1.3333333333px hsl(273, 100%, 50%), -229px -233.6666666667px hsl(61, 100%, 50%), 271px -191.6666666667px hsl(193, 100%, 50%), -102px -354.6666666667px hsl(12, 100%, 50%), 100px -321.6666666667px hsl(236, 100%, 50%), -328px -243.6666666667px hsl(344, 100%, 50%), -323px -43.6666666667px hsl(108, 100%, 50%), 95px -299.6666666667px hsl(102, 100%, 50%), 183px -184.6666666667px hsl(224, 100%, 50%), 235px -406.6666666667px hsl(189, 100%, 50%), -76px 9.3333333333px hsl(217, 100%, 50%), 198px -174.6666666667px hsl(3, 100%, 50%), 35px -262.6666666667px hsl(270, 100%, 50%), 68px 25.3333333333px hsl(73, 100%, 50%), 165px -215.6666666667px hsl(246, 100%, 50%), 62px -394.6666666667px hsl(324, 100%, 50%), 183px 26.3333333333px hsl(199, 100%, 50%), 278px -175.6666666667px hsl(117, 100%, 50%), 249px -205.6666666667px hsl(301, 100%, 50%), 302px -208.6666666667px hsl(244, 100%, 50%), 236px 26.3333333333px hsl(237, 100%, 50%), -223px -379.6666666667px hsl(278, 100%, 50%), -207px 73.3333333333px hsl(262, 100%, 50%), 396px -270.6666666667px hsl(330, 100%, 50%), -61px -241.6666666667px hsl(11, 100%, 50%), 226px -142.6666666667px hsl(129, 100%, 50%), -196px -209.6666666667px hsl(36, 100%, 50%), 167px -339.6666666667px hsl(308, 100%, 50%), -96px -113.6666666667px hsl(132, 100%, 50%), 270px -351.6666666667px hsl(273, 100%, 50%), 398px -129.6666666667px hsl(278, 100%, 50%), 96px 13.3333333333px hsl(325, 100%, 50%), -158px -347.6666666667px hsl(338, 100%, 50%), 371px -17.6666666667px hsl(106, 100%, 50%), 234px -245.6666666667px hsl(128, 100%, 50%), -202px -50.6666666667px hsl(265, 100%, 50%), -333px -399.6666666667px hsl(43, 100%, 50%), -304px -104.6666666667px hsl(89, 100%, 50%), -128px -212.6666666667px hsl(288, 100%, 50%), 136px -335.6666666667px hsl(318, 100%, 50%), 302px -322.6666666667px hsl(42, 100%, 50%), 359px -138.6666666667px hsl(187, 100%, 50%), -224px -181.6666666667px hsl(330, 100%, 50%), 26px -326.6666666667px hsl(38, 100%, 50%), -253px -52.6666666667px hsl(40, 100%, 50%), 183px -385.6666666667px hsl(46, 100%, 50%), 139px -192.6666666667px hsl(240, 100%, 50%), 25px -188.6666666667px hsl(333, 100%, 50%), -63px -410.6666666667px hsl(260, 100%, 50%), -160px 45.3333333333px hsl(32, 100%, 50%), 138px 63.3333333333px hsl(107, 100%, 50%), 35px -357.6666666667px hsl(181, 100%, 50%), 282px -362.6666666667px hsl(0, 100%, 50%), 173px -97.6666666667px hsl(89, 100%, 50%), -109px -170.6666666667px hsl(155, 100%, 50%), -197px -170.6666666667px hsl(231, 100%, 50%), 90px -375.6666666667px hsl(224, 100%, 50%), 75px -197.6666666667px hsl(179, 100%, 50%), -93px -336.6666666667px hsl(173, 100%, 50%), -164px -171.6666666667px hsl(165, 100%, 50%), -54px -76.6666666667px hsl(62, 100%, 50%), -70px -229.6666666667px hsl(17, 100%, 50%), -17px -178.6666666667px hsl(114, 100%, 50%), -304px -342.6666666667px hsl(256, 100%, 50%), 279px -34.6666666667px hsl(36, 100%, 50%), -91px -281.6666666667px hsl(308, 100%, 50%), 341px -387.6666666667px hsl(243, 100%, 50%), 84px -369.6666666667px hsl(250, 100%, 50%);
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}/*# sourceMappingURL=deals.css.map */