.mainDealArrow {
  min-height: 400px;
  margin-left: -24px;
  margin-right: -24px;
}
.mainDealArrow .bx-pager {
  display: flex;
  align-items: center;
  height: 50px;
  border-left: 1px solid #dfe1e6;
  width: 1700px;
}
.mainDealArrow .bx-pager .bx-pager-item {
  display: flex;
  align-items: center;
  height: 100%;
  flex: 0 25%;
  border-top: 1px solid #dfe1e6;
  border-bottom: 1px solid #dfe1e6;
}
.mainDealArrow .bx-pager .bx-pager-item .bx-pager-link {
  text-decoration: none;
  color: #222;
  font-size: 13px;
  flex: 1;
  padding-left: 16px;
  text-align: center;
}
.mainDealArrow .bx-pager .bx-pager-item .arrow {
  border: solid #dfe1e6;
  display: inline-block;
  padding: 13px;
  border-width: 0 1px 1px 0;
  transform: translateY(15.5px) rotate(-45deg) skew(-15deg, -15deg) translateX(18px);
  background-color: #fff;
}

.react-trello-board {
  background-color: #fff !important;
}
.react-trello-board section {
  margin: 0px !important;
  background: #fff !important;
  padding: 0px !important;
  width: 300px !important;
}
.react-trello-board section header:nth-child(1) {
  display: block;
  padding: 0;
}
.react-trello-board section div.sc-jqUWZQ {
  width: 300px !important;
  padding-right: 5px;
  padding-left: 5px;
}
.react-trello-board section article {
  border-bottom: none;
  max-width: 300px !important;
  padding: 0;
}
.react-trello-board section article header {
  display: initial;
}
.react-trello-board section article header span:nth-child(2) {
  display: none;
}
.react-trello-board section .smooth-dnd-container {
  min-height: 70vh;
}

.item-deals-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  z-index: 1;
  height: 50px;
}
.item-deals-header .active .content {
  color: #ffffff;
}
.item-deals-header .active .arrow {
  background: #d68a3a;
}
.item-deals-header .content {
  color: #000000;
  position: absolute;
  z-index: 2;
  margin-left: 20px;
  margin-bottom: 3px;
}
.item-deals-header .content .total-dollar {
  font-size: 12px;
  font-weight: 300;
}
.item-deals-header .arrow {
  width: 100%;
  height: 50%;
  background: #ffffff;
}
.item-deals-header .arrow.top {
  transform: skew(32deg, 0deg);
  border-right: 1px solid #d8d3d3;
  border-top: 1px solid #d8d3d3;
}
.item-deals-header .arrow.bottom {
  transform: skew(-32deg, 0deg);
  border-right: 1px solid #d8d3d3;
  border-bottom: 1px solid #d8d3d3;
}
.item-deals-header .add-deals {
  position: absolute;
  right: 0;
  margin-right: 10px;
  margin-bottom: 3px;
}
.item-deals-header .add-deals svg {
  font-size: 18px;
  visibility: hidden;
}

.item-deals-header:hover .add-deals svg {
  visibility: visible;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-steps {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-width: 480px;
  padding: 0 40px;
}

.breadcrumb {
  display: flex;
  border-radius: 6px;
  overflow: hidden;
  margin: auto;
  text-align: center;
  top: 50%;
  width: 100%;
  height: 22.5px;
  transform: translateY(-50%);
  z-index: 1;
  background-color: rgb(244, 245, 247);
  font-size: 14px;
}

.breadcrumb a {
  position: relative;
  display: flex;
  flex-grow: 1;
  text-decoration: none;
  margin: auto;
  height: 100%;
  padding-left: 15px;
  padding-right: 0;
  color: #666;
}

.breadcrumb a:first-child {
  padding-left: 6px;
}

.breadcrumb a:last-child {
  padding-right: 6px;
}

.breadcrumb a:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 22.5px;
  height: 22.5px;
  top: 0;
  right: -11.1111111111px;
  background-color: rgb(244, 245, 247);
  border-top-right-radius: 5px;
  transform: scale(0.707) rotate(45deg);
  box-shadow: 1px -1px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.breadcrumb a:last-child:after {
  content: none;
}

.breadcrumb__inner {
  display: flex;
  flex-direction: column;
  margin: auto;
  z-index: 2;
}

.breadcrumb__title {
  font-weight: bold;
}

.breadcrumb a.none:hover,
.breadcrumb a.none:hover:after {
  background-color: #b8b7b7;
}

.breadcrumb a.active {
  background: #1677ff;
  color: white;
}

.breadcrumb a.active:after {
  background: #1677ff;
  color: white;
}

.breadcrumb a.done {
  background: #09b749;
  color: white;
}

.breadcrumb a.done:after {
  background: #09b749;
  color: white;
}

.card-left-deal-details .ant-collapse {
  background: white;
}
.card-left-deal-details .ant-collapse-item {
  margin-bottom: 0px !important;
  box-shadow: inset 0 1px rgba(122, 134, 154, 0.168627451), 0 1px 2px rgba(122, 134, 154, 0.4784313725);
}

.thumb-name-xs {
  height: 24px;
  font-size: 12px;
  padding: 1px;
  line-height: 22px;
  font-weight: 700;
  width: 24px;
  border-radius: 24px;
  background: #c0ca33;
  color: white;
  text-align: center;
}

.button-success-outlined {
  background: white;
  color: #09b749;
  border: 1px solid #09b749;
}

.button-success-outlined:hover {
  background: #09b749 !important;
  color: white;
  border: 1px solid #09b749;
}

.button-danger-outlined {
  background: white !important;
  color: #ff7875;
  border: 1px solid #ff7875;
}

.button-danger-outlined:hover {
  background: #ff7875 !important;
  color: white;
  border: 1px solid #ff7875;
}

.button-success-solid {
  background: #09b749;
  color: white;
  border: 1px solid #09b749;
}

.button-success-solid:hover {
  background: white !important;
  color: #09b749 !important;
  border: 1px solid #09b749;
}

.button-danger-solid {
  background: #ff7875;
  color: white;
  border: 1px solid #ff7875;
}

.button-danger-solid:hover {
  background: white !important;
  color: #ff7875 !important;
  border: 1px solid #ff7875;
}

.success-bg-modal .modal-header {
  background: #09b749;
}

.danger-bg-modal .modal-header {
  background: #ff7875;
}

.delete-post-icon {
  position: absolute;
  right: 0;
  margin-right: 12px;
  top: 7px;
  font-size: 17px;
  cursor: pointer;
}

.ant-popover.ant-popconfirm {
  z-index: 100000;
}

.wall-active-button:focus {
  background-color: rgba(0, 0, 0, 0.06);
}

.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  animation-delay: 1.25s, 1.25s, 1.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}
@keyframes bang {
  to {
    box-shadow: 28px 51.3333333333px hsl(210, 100%, 50%), -216px -63.6666666667px hsl(168, 100%, 50%), 21px -91.6666666667px hsl(124, 100%, 50%), -383px -275.6666666667px hsl(325, 100%, 50%), -97px -131.6666666667px hsl(156, 100%, 50%), -118px -36.6666666667px hsl(52, 100%, 50%), -331px -107.6666666667px hsl(232, 100%, 50%), 240px -143.6666666667px hsl(242, 100%, 50%), 322px 68.3333333333px hsl(227, 100%, 50%), -310px -23.6666666667px hsl(33, 100%, 50%), -391px 65.3333333333px hsl(139, 100%, 50%), 276px -356.6666666667px hsl(38, 100%, 50%), 183px -47.6666666667px hsl(155, 100%, 50%), 350px -201.6666666667px hsl(154, 100%, 50%), -55px -94.6666666667px hsl(307, 100%, 50%), 132px 20.3333333333px hsl(218, 100%, 50%), 159px -68.6666666667px hsl(137, 100%, 50%), 115px -129.6666666667px hsl(180, 100%, 50%), 215px -69.6666666667px hsl(237, 100%, 50%), -93px -202.6666666667px hsl(346, 100%, 50%), 246px -3.6666666667px hsl(326, 100%, 50%), -322px -309.6666666667px hsl(140, 100%, 50%), -127px -379.6666666667px hsl(176, 100%, 50%), 76px -317.6666666667px hsl(355, 100%, 50%), -253px 7.3333333333px hsl(212, 100%, 50%), 40px -217.6666666667px hsl(175, 100%, 50%), 83px -136.6666666667px hsl(281, 100%, 50%), 94px -231.6666666667px hsl(309, 100%, 50%), 221px 27.3333333333px hsl(199, 100%, 50%), 83px -134.6666666667px hsl(346, 100%, 50%), -138px -28.6666666667px hsl(307, 100%, 50%), -374px 77.3333333333px hsl(334, 100%, 50%), 223px -8.6666666667px hsl(7, 100%, 50%), 22px -22.6666666667px hsl(107, 100%, 50%), 328px 18.3333333333px hsl(255, 100%, 50%), -189px -381.6666666667px hsl(96, 100%, 50%), 228px -382.6666666667px hsl(352, 100%, 50%), 202px 83.3333333333px hsl(9, 100%, 50%), 4px 67.3333333333px hsl(93, 100%, 50%), 293px -68.6666666667px hsl(340, 100%, 50%), -14px -273.6666666667px hsl(129, 100%, 50%), -216px 32.3333333333px hsl(90, 100%, 50%), -35px -6.6666666667px hsl(22, 100%, 50%), 146px -390.6666666667px hsl(302, 100%, 50%), -34px -335.6666666667px hsl(133, 100%, 50%), 383px -146.6666666667px hsl(21, 100%, 50%), -279px -235.6666666667px hsl(58, 100%, 50%), -322px -237.6666666667px hsl(190, 100%, 50%), -309px -118.6666666667px hsl(16, 100%, 50%), -274px -343.6666666667px hsl(82, 100%, 50%), 177px -235.6666666667px hsl(304, 100%, 50%), 345px -189.6666666667px hsl(324, 100%, 50%), 115px -209.6666666667px hsl(305, 100%, 50%), -218px -222.6666666667px hsl(350, 100%, 50%), 138px -183.6666666667px hsl(200, 100%, 50%), 30px -47.6666666667px hsl(229, 100%, 50%), 81px -108.6666666667px hsl(357, 100%, 50%), 144px -310.6666666667px hsl(139, 100%, 50%), 193px -102.6666666667px hsl(208, 100%, 50%), 207px -266.6666666667px hsl(10, 100%, 50%), 24px -199.6666666667px hsl(75, 100%, 50%), 274px -124.6666666667px hsl(199, 100%, 50%), -18px -230.6666666667px hsl(30, 100%, 50%), 158px -62.6666666667px hsl(114, 100%, 50%), -349px -18.6666666667px hsl(230, 100%, 50%), 150px -17.6666666667px hsl(333, 100%, 50%), 116px -275.6666666667px hsl(173, 100%, 50%), -160px 14.3333333333px hsl(143, 100%, 50%), 187px -8.6666666667px hsl(179, 100%, 50%), 107px -173.6666666667px hsl(250, 100%, 50%), -217px 4.3333333333px hsl(259, 100%, 50%), 127px 8.3333333333px hsl(124, 100%, 50%), -323px -13.6666666667px hsl(307, 100%, 50%), -279px -63.6666666667px hsl(320, 100%, 50%), -300px -309.6666666667px hsl(241, 100%, 50%), -370px -340.6666666667px hsl(315, 100%, 50%), 341px -385.6666666667px hsl(176, 100%, 50%), 25px -107.6666666667px hsl(298, 100%, 50%), 396px -277.6666666667px hsl(112, 100%, 50%), -208px -138.6666666667px hsl(57, 100%, 50%), 92px 36.3333333333px hsl(286, 100%, 50%), 148px -97.6666666667px hsl(144, 100%, 50%), 211px -42.6666666667px hsl(139, 100%, 50%), 228px -372.6666666667px hsl(307, 100%, 50%), -210px -106.6666666667px hsl(66, 100%, 50%), -145px -139.6666666667px hsl(231, 100%, 50%), 169px -76.6666666667px hsl(5, 100%, 50%), 67px -106.6666666667px hsl(325, 100%, 50%), 175px -132.6666666667px hsl(30, 100%, 50%), 57px -398.6666666667px hsl(55, 100%, 50%), 65px -231.6666666667px hsl(240, 100%, 50%), -295px -361.6666666667px hsl(17, 100%, 50%), -255px -116.6666666667px hsl(300, 100%, 50%), 186px -69.6666666667px hsl(307, 100%, 50%), -160px -63.6666666667px hsl(31, 100%, 50%), -234px 14.3333333333px hsl(11, 100%, 50%), 121px -229.6666666667px hsl(54, 100%, 50%), 252px -110.6666666667px hsl(35, 100%, 50%), 320px -82.6666666667px hsl(51, 100%, 50%), -95px -307.6666666667px hsl(24, 100%, 50%), 239px 40.3333333333px hsl(261, 100%, 50%), 251px -308.6666666667px hsl(255, 100%, 50%), 286px -125.6666666667px hsl(243, 100%, 50%), -320px -59.6666666667px hsl(311, 100%, 50%), -317px -277.6666666667px hsl(273, 100%, 50%), -142px -325.6666666667px hsl(263, 100%, 50%), -238px -282.6666666667px hsl(91, 100%, 50%), -297px -111.6666666667px hsl(43, 100%, 50%), -323px -253.6666666667px hsl(356, 100%, 50%), -327px 74.3333333333px hsl(184, 100%, 50%), 251px -106.6666666667px hsl(127, 100%, 50%), 362px -104.6666666667px hsl(135, 100%, 50%), -369px -109.6666666667px hsl(96, 100%, 50%), -43px -132.6666666667px hsl(195, 100%, 50%), -257px -186.6666666667px hsl(43, 100%, 50%), 18px -251.6666666667px hsl(352, 100%, 50%), 114px -102.6666666667px hsl(242, 100%, 50%), 354px -84.6666666667px hsl(143, 100%, 50%), 167px -350.6666666667px hsl(310, 100%, 50%), -155px 9.3333333333px hsl(261, 100%, 50%), 295px -203.6666666667px hsl(301, 100%, 50%), 270px -1.6666666667px hsl(31, 100%, 50%), -341px 14.3333333333px hsl(118, 100%, 50%), -226px -182.6666666667px hsl(143, 100%, 50%), 207px -198.6666666667px hsl(165, 100%, 50%), -250px -40.6666666667px hsl(236, 100%, 50%), -106px -294.6666666667px hsl(338, 100%, 50%), -63px -234.6666666667px hsl(220, 100%, 50%), 65px -52.6666666667px hsl(239, 100%, 50%), -184px -2.6666666667px hsl(44, 100%, 50%), -231px -57.6666666667px hsl(21, 100%, 50%), 102px -61.6666666667px hsl(176, 100%, 50%), 143px -28.6666666667px hsl(292, 100%, 50%), -189px -254.6666666667px hsl(135, 100%, 50%), -33px -325.6666666667px hsl(306, 100%, 50%), 297px -352.6666666667px hsl(37, 100%, 50%), 38px -173.6666666667px hsl(102, 100%, 50%), -271px -130.6666666667px hsl(334, 100%, 50%), 361px -270.6666666667px hsl(277, 100%, 50%), 45px -117.6666666667px hsl(19, 100%, 50%), -315px -139.6666666667px hsl(176, 100%, 50%), 228px -188.6666666667px hsl(237, 100%, 50%), -224px -44.6666666667px hsl(245, 100%, 50%), 119px 13.3333333333px hsl(199, 100%, 50%), -292px -193.6666666667px hsl(262, 100%, 50%), 3px -408.6666666667px hsl(290, 100%, 50%), 175px -136.6666666667px hsl(57, 100%, 50%), 186px -267.6666666667px hsl(15, 100%, 50%), 310px -181.6666666667px hsl(195, 100%, 50%), -145px -325.6666666667px hsl(202, 100%, 50%), 32px -348.6666666667px hsl(126, 100%, 50%), -294px -213.6666666667px hsl(233, 100%, 50%), -237px -354.6666666667px hsl(72, 100%, 50%), -343px 37.3333333333px hsl(200, 100%, 50%), 290px 72.3333333333px hsl(312, 100%, 50%), -68px -362.6666666667px hsl(114, 100%, 50%), -136px -379.6666666667px hsl(9, 100%, 50%), -94px -97.6666666667px hsl(158, 100%, 50%), -248px -23.6666666667px hsl(94, 100%, 50%), -207px -24.6666666667px hsl(318, 100%, 50%), -274px 15.3333333333px hsl(308, 100%, 50%), -236px 28.3333333333px hsl(7, 100%, 50%), 140px -174.6666666667px hsl(352, 100%, 50%), -45px 61.3333333333px hsl(136, 100%, 50%), 111px -137.6666666667px hsl(170, 100%, 50%), -63px -273.6666666667px hsl(183, 100%, 50%), 90px 70.3333333333px hsl(47, 100%, 50%), 185px -216.6666666667px hsl(25, 100%, 50%), 152px -179.6666666667px hsl(107, 100%, 50%), -108px 53.3333333333px hsl(260, 100%, 50%), 236px -351.6666666667px hsl(346, 100%, 50%), 395px -249.6666666667px hsl(21, 100%, 50%), -80px -99.6666666667px hsl(113, 100%, 50%), 225px -293.6666666667px hsl(15, 100%, 50%), -103px 65.3333333333px hsl(352, 100%, 50%), -143px -94.6666666667px hsl(133, 100%, 50%), -177px -199.6666666667px hsl(281, 100%, 50%), -138px -12.6666666667px hsl(89, 100%, 50%), -44px 19.3333333333px hsl(4, 100%, 50%), -175px 47.3333333333px hsl(349, 100%, 50%), 357px -192.6666666667px hsl(202, 100%, 50%), 191px -186.6666666667px hsl(192, 100%, 50%), 222px -241.6666666667px hsl(159, 100%, 50%), -266px -265.6666666667px hsl(177, 100%, 50%), 344px -113.6666666667px hsl(137, 100%, 50%), -186px -346.6666666667px hsl(306, 100%, 50%), -200px -104.6666666667px hsl(350, 100%, 50%), -397px -357.6666666667px hsl(221, 100%, 50%), -334px 56.3333333333px hsl(289, 100%, 50%), -386px 29.3333333333px hsl(116, 100%, 50%), 159px -48.6666666667px hsl(44, 100%, 50%), -5px -28.6666666667px hsl(328, 100%, 50%), -207px -330.6666666667px hsl(94, 100%, 50%), 392px -407.6666666667px hsl(250, 100%, 50%), 15px -108.6666666667px hsl(329, 100%, 50%), 374px 65.3333333333px hsl(280, 100%, 50%), 142px -340.6666666667px hsl(156, 100%, 50%), -252px -192.6666666667px hsl(276, 100%, 50%), 114px -31.6666666667px hsl(198, 100%, 50%), 110px 15.3333333333px hsl(344, 100%, 50%), 252px -211.6666666667px hsl(220, 100%, 50%);
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}/*# sourceMappingURL=deals.css.map */