// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "../variables/variables.scss";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
.dropdown-select {
    // .ant-select-dropdown {
    width: 220px !important; /* Adjust the width value as needed */
    // }
}
// .dropdownMenu {
//     .ant-dropdown-menu {
//         box-shadow: none !important;
//         background-color: none !important;
//     }
// }
.anticon {
    vertical-align: 1px !important;
}

.your-modal .ant-modal-content {
    display: flex;
    flex-direction: column;
    background-color: #f4f5f7;
}

.your-modal .modal-content {
    flex-grow: 1;
    // overflow-y: auto;
}

.your-modal .modal-footer {
    flex-shrink: 0;
    background-color: #ffffff;
    padding: 16px;
    text-align: right;
    position: sticky;
    bottom: 0;
    // padding-left: -10px;
    // padding-right: -10px;
    margin-left: -24px;
    margin-right: -24px;
    margin-bottom: -20px;
}

.your-modal .modal-header {
    background-color: #1677ff;
    padding: 16px;
    position: sticky;
    top: 0;
    z-index: 1;
    margin-left: -24px;
    margin-right: -24px;
    margin-top: -20px;
}

.cardSize {
    margin-bottom: -20px;
    .ant-card-body {
        padding: 10px !important;
    }
}
.listSize {
    .ant-list .ant-list-item {
        // margin-bottom: -20px !important;
        padding: 2px !important;
    }
}

.clickable-item:hover {
    background-color: #ececec;
    cursor: pointer;
}

.avatarText {
    .ant-avatar-string {
        line-height: 29px !important;
    }
}
.custom-tabs .ant-tabs-nav {
    // margin-bottom: 1px; /* Adjust the margin-bottom value as per your requirement */
    width: 230px;
    height: 87vh;
}

.custom-tabs .ant-tabs-tab {
    margin-top: 1px !important; /* Adjust the margin-right value as per your requirement */
}

.custom-tabs .ant-tabs-tab-active {
    background-color: transparent;
}

.custom-tabs .ant-tabs-ink-bar {
    display: none;
}

.CustomCard {
    .ant-card-body {
        padding: 0px !important;
    }
}

.tabpadding {
    .ant-tabs-tabpane {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}

.custom-tabs2 .ant-tabs-nav {
    // margin-bottom: 1px; /* Adjust the margin-bottom value as per your requirement */
    width: 100%;
    height: 100%;
}

// .custom-tabs2 .ant-tabs-tab-active {
//     background-color: "blue";
// }

.custom-tabs2 .ant-tabs-ink-bar {
    display: flex;
    background: #1677ff !important;
}

.tabContent {
    display: flex;
    justify-content: center;
}

.editable-cell {
    position: relative;
}

.editable-cell-value-wrap {
    padding: 5px 12px;
    cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
    padding: 4px 11px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
}
.tag-container {
    display: flex;
    flex-wrap: wrap;
}
.tag-item {
    margin: 2px;
}

.cell:hover {
    background-color: #cce0fc89;
}
.custom-table-cell {
    height: 69px;
}

.disableHover:hover {
    background-color: transparent !important;
}

.menuList {
    .ant-dropdown-menu-title-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.cellColor {
    .ant-table-cell {
        background-color: #fafafa !important;
    }
}
.noResult {
    width: 100%;
    display: flex !important;
    justify-content: center !important;
}

.cell-hover {
    .cell-hover-btn {
        display: none !important;
        line-height: 0;
    }
}

.cell-hover:hover {
    .cell-hover-btn {
        display: inline !important;
        line-height: 0;
    }
}
.upload {
    .ant-upload {
        width: 100% !important;
    }
}
