@import "../variables/variables";

.input-title-no-bottom-only {
    border: none;
    border-bottom: 1px solid #dfe1e5;
    outline: none;
    border-radius: 0px;
    font-size: 20px;
    background-color: transparent;
}

.input-title-no-bottom-only:focus {
    border-color: #dfe1e5;
    box-shadow: none !important;
    border-inline-end-width: 0px;
}
.input-title-no-bottom-only:hover {
    border-color: #dfe1e5;
    box-shadow: none !important;
    border-inline-end-width: 0px;
}

//activity

.modal-activity {
    .modal-header {
        background: rgb(31, 98, 255);
        padding: 16px;
        position: sticky;
        top: 0;
        z-index: 1;
        margin-left: -8px;
        margin-right: -8px;
        margin-top: -20px;
        z-index: 99;
    }
    .modal-footer {
        flex-shrink: 0;
        background-color: #ffffff;
        padding: 16px;
        text-align: right;
        position: sticky;
        bottom: 0;
        padding-left: -10px;
        padding-right: -10px;
        margin-left: -6px;
        margin-right: -6px;
        margin-bottom: -20px;
        z-index: 99;
    }
    .col-1-modal-act {
        padding: 24px;
        padding-left: 24px !important;
        padding-right: 24px !important;
    }
    .col-2-modal-act {
        padding: 24px;
        background: white;
        border-left: 1px solid #c6c8cd;
        padding-left: 24px !important;
        padding-right: 24px !important;
    }
    .ant-modal-content {
        padding: 0;
        .ant-modal-header {
            padding: 20px 24px;
            background: rgb(31, 98, 255);
            margin-bottom: 0px;
            .ant-modal-title {
                color: #fff;
            }
        }
        .ant-modal-body {
            padding: 8px;
            padding-top: 0px;
            padding-bottom: 0px;
            background: #f4f5f7;
        }
        .ant-modal-footer {
            border-top: 1px solid #f3efef;
            padding: 20px 24px;
            margin-top: 0px;
        }
        .ant-modal-close-icon {
            color: #fff !important;
        }
    }
}

.activity-group-row {
    .anticon {
        vertical-align: 1px !important;
    }
}

.deal-group-row {
    .anticon {
        vertical-align: 1px !important;
    }
}

.modal-activity {
    width: 980px;
    top: 70px;

    .ant-modal-close {
        margin-top: -3px;
        background: #0747a6;
        border: 0;
        width: 22px;
        height: 22px;
        font-size: 19px;

        .ant-modal-close-icon {
            font-size: 10px;
            line-height: 10px;
            color: #fff;
            right: 0;
            width: 22px;
            height: 22px;
            top: 1px;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .ant-modal-close:hover {
        background: #0747a6;
    }

    .ant-modal-content {
        border-radius: 0px;
        padding: 0;

        .ant-modal-header {
            background: #1f62ff;
            border-radius: 0;
            padding: 15px 17px;
            border-bottom: 0;
            height: 52px;

            .ant-modal-title {
                margin-top: -2px;

                .ant-typography {
                    color: white;
                    font-weight: 400;
                    font-size: 16px;
                }
            }
        }

        .col-label {
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .ant-typography {
                line-height: 14px;
            }
        }

        .col-label-note {
            height: 72px;
        }

        .select-custom-width {
            width: 200px;
        }

        .fc .fc-button-primary {
            background-color: transparent !important;
            border-color: transparent !important;
            color: #000;
        }

        .ant-modal-body {
            max-height: 729px !important;
            overflow: hidden;

            .form-left {
                height: auto !important;
                max-height: 730px !important;
                overflow-y: auto;
            }

            .form-right {
                border-left: 1px solid var(--fc-border-color);
                background-color: #ffffff;

                .fc .fc-timegrid-divider {
                    padding: 0px;
                    border: 0px;
                }

                .fc .fc-daygrid-day.fc-day-today {
                    background-color: white;
                }

                .fc td,
                .fc th {
                    background: white;
                }
            }
        }

        .fc-theme-standard .fc-scrollgrid {
            border: 1px 1px 1px 0px solid var(--fc-border-color);
        }

        .fc-scrollgrid {
            thead {
                display: none;
            }
        }

        .fc-view-harness {
            border-top: 1px solid var(--fc-border-color);

            .fc-timegrid-slot-label {
                border-right: 0px;
            }

            .fc-timegrid-slot-lane {
                border-left: 0px;
            }
        }

        .fc .fc-toolbar.fc-header-toolbar {
            margin-bottom: 0px;
        }

        .fc .fc-button-primary:focus {
            box-shadow: none !important;
        }
    }

    .ant-modal-footer {
        padding: 15px 13px;
    }
}

.FullCalendarActivity {
    .fc-scroller-liquid-absolute {
        overflow: hidden scroll !important;
    }

    .fc-timegrid-body {
        width: 276px !important;
    }

    table {
        width: 286px !important;

        col {
            width: 54px !important;
        }
    }

    .fc-scroller {
        overflow: hidden scroll !important;
    }

    .fc-daygrid-body-unbalanced {
        width: 276px !important;
    }

    .fc-scrollgrid-sync-table {
        width: 276px !important;
    }

    // .fc .fc-view-harness-active > .fc-view {
    //     padding-bottom: 80px !important;
    // }

    .fc-view-harness {
        max-height: 645px !important;
        height: 100vh !important;
    }
    .fc-toolbar-title {
        font-size: 14px !important;
    }
    .fc-icon {
        font-size: 14px !important;
    }
}

.modal-activity-manage-column {
    width: 980px;
    top: 70px;

    .ant-modal-close {
        margin-top: -3px;
        background: #0747a6;
        border: 0;
        width: 22px;
        height: 22px;
        font-size: 19px;

        .ant-modal-close-icon {
            font-size: 10px;
            line-height: 10px;
            color: #fff;
            right: 0;
            width: 22px;
            height: 22px;
            top: 1px;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .ant-modal-close:hover {
        background: #0747a6;
    }

    .ant-modal-content {
        border-radius: 0px;
        padding: 0;

        .ant-modal-header {
            background: #1f62ff;
            border-radius: 0;
            padding: 15px 17px;
            border-bottom: 0;
            height: 52px;

            .ant-modal-title {
                margin-top: -2px;

                .ant-typography {
                    color: white;
                    font-weight: 400;
                    font-size: 16px;
                }
            }
        }

        .ant-modal-body {
            padding: 14px 16px 20px;

            .columns-list {
                // border-right: 1px solid var(--fc-border-color);
                padding-right: 16px !important;

                .custom-column-list {
                    // height: calc(100vh - 331px);
                    height: 550px;
                    overflow-y: auto;
                    overflow-x: hidden;

                    .ant-row {
                        margin-left: 0px;
                        margin-right: 0px;
                    }

                    .custom-column-field {
                        display: flex;
                        justify-content: space-between;
                        padding-right: 16px !important;
                    }
                }
            }

            .selected-fields {
                border-left: 1px solid #dfe1e6;
                padding-left: 15px !important;

                .card-fields {
                    .ant-card-body {
                        padding: 0px 5px !important;
                    }
                }

                .ant-list .ant-list-item {
                    padding: 3px 0 !important;
                }
            }

            .custom-field-btn {
                position: absolute;
                margin-top: -64px;
                right: 38px;
                color: #fff;

                span {
                    text-decoration: underline;
                }
            }
        }

        .ant-modal-footer {
            border-top: 1px solid #dfe1e6;
            padding: 15px;

            .footer-space {
                display: flex;
                justify-content: space-between;
            }
        }
    }
}

.col-status::before {
    background-color: transparent !important;
}

.checkbox-group {
    display: flex !important;
    flex-direction: column !important;
    padding: 6px;
    row-gap: 10px;
}

.select-column-list {
    max-height: 617px !important;
    overflow-y: auto !important;
}

.hide {
    display: none;
}

.show {
    display: flex;
}

.table-link:hover {
    text-decoration: underline !important;
}

.update-activity-tab {
    .ant-tabs-nav {
        margin-bottom: 0px;
    }

    .ant-tabs-tabpane {
        background: #f4f5f7 !important;
        height: 100vh;

        .ant-card {
            background: #f4f5f7 !important;
        }
    }
}

// modal manage fields
.manage-column-field {
    width: 580px;
    top: 70px;

    .ant-modal-close {
        margin-top: -3px;
        background: #0747a6;
        border: 0;
        width: 22px;
        height: 22px;
        font-size: 19px;

        .ant-modal-close-icon {
            font-size: 10px;
            line-height: 10px;
            color: #fff;
            right: 0;
            width: 22px;
            height: 22px;
            top: 1px;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .ant-modal-close:hover {
        background: #0747a6;
    }

    .ant-modal-content {
        border-radius: 0px;
        padding: 0;

        .ant-modal-header {
            background: #1f62ff;
            border-radius: 0;
            padding: 15px 17px;
            border-bottom: 0;
            height: 52px;

            .ant-modal-title {
                margin-top: -2px;

                .ant-typography {
                    color: white;
                    font-weight: 400;
                    font-size: 16px;
                }
            }
        }

        .ant-modal-body {
            padding: 14px 16px 20px;
        }

        .ant-modal-footer {
            border-top: 1px solid #dfe1e6;
            padding: 15px;

            .footer-space {
                display: flex;
                justify-content: space-between;
            }
        }
    }
}

.field-list {
    border-radius: 0 !important;

    .ant-list-items {
        max-height: 346px;
        overflow: auto;

        .ant-list-item {
            padding: 10px 10px !important;
        }

        .ant-list-item:hover {
            background: #1f62ff;

            .ant-typography {
                color: #fff;
            }
        }
    }
}

// icons
.text:before {
    content: "\ea79";
}

.text-area:before {
    content: "\ea82";
}

.timeline-btn {
    border: 0px;
    color: rgba(0, 0, 0, 0.88);
    background-color: transparent;
    box-shadow: none;
}

.timeline-btn:hover {
    border: 0px;
    color: rgba(0, 0, 0, 0.88) !important;
}

.timeline-btn-active {
    background-color: #403294 !important;
    border: 0px !important;
    color: #fff !important;
}

.timeline-btn-active:hover {
    color: #fff !important;
}
