.FullCalendarActivity .fc-view-harness {
  height: 100vh !important;
}
.FullCalendarActivity .fc-toolbar-title {
  font-size: 14px !important;
}
.FullCalendarActivity .fc-icon {
  font-size: 14px !important;
}

.input-title-no-bottom-only {
  border: none;
  border-bottom: 1px solid #dfe1e5;
  outline: none;
  border-radius: 0px;
  font-size: 20px;
  background-color: transparent;
}

.input-title-no-bottom-only:focus {
  border-color: #dfe1e5;
  box-shadow: none !important;
  border-inline-end-width: 0px;
}

.input-title-no-bottom-only:hover {
  border-color: #dfe1e5;
  box-shadow: none !important;
  border-inline-end-width: 0px;
}

.activity-group-row .anticon {
  vertical-align: 1px !important;
}

.deal-group-row .anticon {
  vertical-align: 1px !important;
}

.mainDealArrow {
  min-height: 400px;
  margin-left: -24px;
  margin-right: -24px;
}
.mainDealArrow .bx-pager {
  display: flex;
  align-items: center;
  height: 50px;
  border-left: 1px solid #dfe1e6;
  width: 1700px;
}
.mainDealArrow .bx-pager .bx-pager-item {
  display: flex;
  align-items: center;
  height: 100%;
  flex: 0 25%;
  border-top: 1px solid #dfe1e6;
  border-bottom: 1px solid #dfe1e6;
}
.mainDealArrow .bx-pager .bx-pager-item .bx-pager-link {
  text-decoration: none;
  color: #222;
  font-size: 13px;
  flex: 1;
  padding-left: 16px;
  text-align: center;
}
.mainDealArrow .bx-pager .bx-pager-item .arrow {
  border: solid #dfe1e6;
  display: inline-block;
  padding: 13px;
  border-width: 0 1px 1px 0;
  transform: translateY(15.5px) rotate(-45deg) skew(-15deg, -15deg) translateX(18px);
  background-color: #fff;
}

.react-trello-board {
  background-color: #fff !important;
}
.react-trello-board section {
  margin: 0px !important;
  background: #fff !important;
  padding: 0px !important;
  width: 300px !important;
}
.react-trello-board section .sc-gLfKCG.sc-ftDPCE {
  padding: 20px;
  border: 1px solid #e3e3e3;
}
.react-trello-board section div.sc-jqNall {
  width: 300px !important;
  padding-right: 5px;
  padding-left: 5px;
}
.react-trello-board section article {
  border-bottom: none;
  max-width: 300px !important;
  padding: 0;
}
.react-trello-board section article header {
  display: initial;
}
.react-trello-board section article header span.sc-ipUqZP {
  display: none;
}
.react-trello-board section article header div.sc-ivuxny {
  display: none;
}
.react-trello-board section .smooth-dnd-container {
  min-height: 70vh;
}

.modal-activity {
  width: 980px;
}
.modal-activity .ant-modal-close {
  margin-top: -3px;
  background: #0747a6;
  border: 0;
  width: 22px;
  height: 22px;
  font-size: 19px;
}
.modal-activity .ant-modal-close .ant-modal-close-icon {
  font-size: 10px;
  line-height: 10px;
  color: #fff;
  right: 0;
  width: 22px;
  height: 22px;
  top: 1px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-activity .ant-modal-close:hover {
  background: #0747a6;
}
.modal-activity .ant-modal-content {
  border-radius: 0px;
  padding: 0;
}
.modal-activity .ant-modal-content .ant-modal-header {
  background: #1f62ff;
  border-radius: 0;
  padding: 15px 17px;
  border-bottom: 0;
  height: 52px;
}
.modal-activity .ant-modal-content .ant-modal-header .ant-modal-title {
  margin-top: -2px;
}
.modal-activity .ant-modal-content .ant-modal-header .ant-modal-title .ant-typography {
  color: white;
  font-weight: 400;
  font-size: 16px;
}
.modal-activity .ant-modal-content .col-label {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.modal-activity .ant-modal-content .select-type {
  width: 200px;
}/*# sourceMappingURL=activity.css.map */